
  .loginCard{
      display:flex;
      flex-direction: row;
      justify-content: center;
      width:100%;
  }
  #loginText{
   font-size:x-large;
   font-weight:500;
  }
  .dispNone{
    display:none;
}
.red
{
    color: red;
}
.dispBlock {
    display: block;
}
#card{
    width:40%;
}
